.button{
    padding: 7px 14px;
    font-family: "Play", sans-serif;
    font-weight: 600;
    border: 1px solid rgb(193, 45, 193);
    color: rgb(193, 45, 193);
    border-radius: 7px;
    background: none;
}
.button:hover{
    color: white;
    background: rgb(193, 45, 193);
 
}